name: Build Windows App

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 23

      - name: Install dependencies
        run: npm ci

      - name: Build TermDebug app
        run: npm run packageWin

      - name: Upload TermDebug artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.repository.name }}-windows
          path: release/*-win*
